*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after{
  content: '';
  display: table;
  clear: both;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

body{
  font-family: 'Roboto', sans-serif;

}
header{
  height: 550px;
  background-color: #071E36;
}


.header-conteiner{
  width: 80%;
  height: 100%;
  max-width: 1400px;
  margin: auto;
  height: 550px;
 
  background-image: url(../img/background-header.png);
  background-size: 1000px;
  background-position: 118% 120%;
  background-repeat: no-repeat;
   
}

/* inizio header */

.header-nav{
  height: 100px;
  line-height: 80px;
  overflow: hidden;
}

.header-nav .header-logo{
  width: 12%;
}

/* nav  */

.header-nav .header-logo img{
  vertical-align: middle;
  margin-bottom: 15px;
}

.header-nav-center{
  width: 47%;
  font-size: 12px;
 
}

.menu-inline{
  list-style: none;
}

.menu-inline li{
  display: inline;
  padding: 0 5px;
}

.menu-inline li a{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}



.header-nav-right{
  width: 40%;
  font-size: 12px;
 
  text-align: right;

}

/* fine nav inizio botton */

.botton{
  display: inline-block;
  color: white;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 10%;
  padding: 5px 16px;
  line-height: 20px;
}

.botton.botton-blue{
  border: 1px solid white;
  padding-left: 30px;
  padding-right: 30px;
  
}
.botton.botton-green{
  background-color: #4B7002;
  text-decoration: none;
}


/* blocco immagine con scritta */

.jambatron{
  width: 50%;
  height: 450px;
  
  position: relative;

}

.jambatron-text h1{
  color: white; 
  font-size: 35px;
  position: absolute;
  top: 50%;
}

.jambatron a {
  position: absolute;
  top: 70%;
}




/* fine header  */

/* titolo */

.title{
  height: 140px;
  background-color: #a7a4a4;
  text-align: center;
  position: relative;
}
.title h3{
 
  position: absolute;
  top:40%;
  left: 50%;
  transform: translate(-50%,-50%);


}
.title p{
  
  position: absolute;
  top:65%;
  left: 50%;
  transform: translate(-50%,-50%);
  color:  #535050;
}


/* vioport 1 */





/* sx - dx vioport  */


.box-sx, .box-dx{
  width: 29%;
  height: 540px;
  
  
}

.vioport1 img{
  width: 160px;
  height: 160px;
}

.col-sx{
  position: absolute;
  top: 14%;
  left: 7%;
  width: 370px;

}

.col-cont{
  position: absolute;
  top: 14%;
  left: 40%;
  width: 370px;

}

.col-dx{
  position: absolute;
  top: 14%;
  left: 75%;
  width: 370px;


}



/* contenitore centrale vioport 1 */


.box-center{
  width: 42%;
  height: 540px;
  
  margin :auto;
}



.vioport1{
  height: 540px;
  position: relative;

}


/* inizio vioport 2  */

.vioport2{
  height: 540px;
 
  position: relative;


}



.vioport2 .jambatron{
 
  height: 540px;
  line-height: 540px;


}

.jambatron img{
  width: 480px;
  height: 550px;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}

.jambatron-dx{
  
  height: 540px;
  width: 50%;
}

.jambatron-text-right{
  font-size: 22px;
  
  margin-top: 20px;
  padding: 20px;
  
  width: 570px;
}


.jambatron-text-right h2{
  font-size: 28px;
}

.jambatron-text-right p{
  color:  #a7a4a4;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}

.jambatron-text-right a{
  font-size: 12px;
}






/* footer  */

  
 footer{
   background-color:#a7a4a4;
  
 }


.footer-box{
  height: 100px;
  line-height: 100px;
  width: 80%;
  margin: auto;
  text-align: right;
  
}

footer a.right{
  text-decoration: none;
  color: rgb(54, 53, 53);
  border-bottom: 1px solid rgb(32, 30, 29);
  margin: 40px;
}

footer a.left{
  text-decoration: none;
  color: black;
  
}

.left-sono{
  text-decoration: none;
  color: rgb(54, 53, 53);
}






footer a span{
  margin-left: 45px;
}




.footer-box .botton.botton-green{

  background-color: #4B700e;
  color: white;
  text-decoration: none;
} 